<h1>This is the homepage </h1>

<%= link_to 'about', about_path %>

<html>
<head>
This is my homework assignment
</head>

<body>
<h1>This is my homework assignment</h1>


<table>
  <tr>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
    <li>Item 5</li>
    <li>Item 6</li>
  </tr>

  <tr>
    <td>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
      <li>Item 6</li>
    </td>
  </tr>
</table>

<table>
<tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>

</body>

<footer>
Something at the bottom 
</footer>

</html>